.calendar-wrapper{
    margin: 0 10px;
}
.calendar-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: thin solid grey;
    font-size: 22px;
}
.head-wrapper{
    display: flex;
    align-items: center;
}
.head-wrapper div{
    margin: 0 15px;
}

.today{
    margin: 3px;
    padding: 10px 15px;
}

.day-names{
    display: flex;
    justify-content: space-around;
}
.day {
    height: 150px;
    display: inline-flex;
    flex-direction: column;
    background-color: whitesmoke;
    box-sizing: border-box;
    width: calc(100%/7);
    border:thin solid grey;
}
#number{
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}

.before{
    opacity: 50%;
}
.selected{
    background-color: blue;
    padding: 3px 8px;
    border-radius: 50%;
    color: white;
    
}
.highlight{
    display: flex;
    justify-content: space-between;
    background-color:lightblue;
    border-radius: 20%;
    border: 1px solid grey;
}
.event{
    cursor: pointer;
}