.wrapper-popup{
    position: absolute;
    margin-top: -1000px;
    margin-left: -100px;
    z-index: 100;
    background-color: grey;
    width: 1930px;
    height: 1000px;
    opacity: 0.7;
}
.popup{
    position: fixed;
    z-index: 1000;
    top: 23%;
    left: 39%;
    width: 350px;
    display: flex;
    flex-direction: column;
    background:whitesmoke;
    align-items: center;
    border-radius: 10%;
}

.text{
    width: 90%;
    border: 0;
    outline: 0;
}
.text:focus,
.text::placeholder{
    border-color: green;
    color: black;
}

.popup-btn-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 5px;
}



